/**
 * Custom theme for JoliCode.com
 *
 *      _____       __    _    ______                __
 *     |_   _|     [  |  (_) .' ___  |              |  ]
 *       | |  .--.  | |  __ / .'   \_|  .--.    .--.| | .---.
 *   _   | |/ .'`\ \| | [  || |       / .'`\ \/ /'`\' |/ /__\\
 *  | |__' || \__. || |  | |\ `.___.'\| \__. || \__/  || \__.,
 *  `.____.' '.__.'[___][___]`.____ .' '.__.'  '.__.;__]'.__.'
 *
 *
 * @author dalexandre@jolicode.com
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

$joli-yellow:       #F7D325;
$joli-dark-yellow:  #ECC217;

// Include theme-specific fonts
@font-face {
    font-family: 'convergenceregular';
    src: url('../../lib/font/convergence-regular-webfont.eot');
    src: url('../../lib/font/convergence-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../lib/font/convergence-regular-webfont.woff') format('woff'),
         url('../../lib/font/convergence-regular-webfont.ttf') format('truetype'),
         url('../../lib/font/convergence-regular-webfont.svg#convergenceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Headings
$headingFont: 'convergenceregular', Impact, sans-serif;
$headingColor: $joli-yellow;
$headingLineHeight: 1.1em;

// Links and actions
$linkColor: $joli-dark-yellow;
$linkColorHover: $joli-yellow;

// Text selection
$selectionBackgroundColor: $joli-dark-yellow;

footer.joli {
    display: block;
    position: absolute;
    bottom: 10px;
    margin-left: 20px;
    z-index: 20;
    font-family: $mainFont;
    color:#8d8d8d
}

.jolistate .reveal .state-background {
    background: rgba( 0, 0, 0, 0.6 );
}

.reveal section a img {
	background: none;
	border: none;
	box-shadow: none;
}

.reveal section a:hover img {
    background: none;
    box-shadow: none;
}

.reveal section .footnote {
    margin-top: 100px;
    font-size: 0.6em;
    color:#bcbcbc;
    text-align: right;
}

.reveal section {
    .no-caps {
        text-transform: none;
    }
    p {
        line-height: 1.5em;
    }
    li {
        padding: 10px 0;
    }
}

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgb(5, 6, 7), rgb(39, 42, 45));
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
